<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <script src="js/angular.js"></script>
        <script src="js/jquery-3.5.1.js"></script>
        <link rel="stylesheet" href="/assets/bootstrap.min.css">
        <title>FreeFormat Management</title>
        <link type="text/css" rel="stylesheet" href="/assets/styles.css">
        <script src="dist/app.js"></script>
    </head>
    <header>
        <div class="border-box">
            <div class="border-box border-title">
                <a>Solari di udine</a>
            </div>
        </div>
    </header>
    <body ng-controller="myContr"> 
        <div class="container container-1">
            <h>FreeFormat Management</h>
            <div class="container container-2">
                <table>
                    <tr>
                        <th class="name" ng-model="$scope.message_name">Message Name</th>
                        <th class="type" ng-model="message_type">Type</th>
                        <th class="body" ng-model="message_body">Body</th>
                    </tr>
                    <tr ng-repeat="info in infos">
                        <td>{{info.name}}</td>
                        <td>{{info.type}}</td>
                        <td>{{info.body}}</td>
                    </tr>
                </table>
                <div class="function_container">
                    <button>Assign Message</button>
                    <button>Assign to All Devices</button>
                    <button>Remove Message</button>
                    <button>Remove from All Devices</button>
                    <form name="Device_Form">
                        <label ng-repeat="info in infos">
                            <input type="checkbox" class="device_selection" ng-model="device_name">{{info.name}}
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>