html{
    background-color:white;
}

body{
    background-color: white;
}

.container{
    background-color: white;
    max-width: 1920px;
}

.container-1{
    box-sizing: border-box;
    height:98%;
    width: 98%;
    margin: auto;
    overflow: auto;
    display: inline;
}

.container-2{
    display: flex;
    margin-left: 0px;
    width: 1920px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    overflow: auto;
}

.name{
    width: auto;
}

.type{
    width: auto;
}

table tr:nth-child(odd){
    background-color: grey;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

.message_body{
    width: 500px;
    height:auto;
    margin-left: 200px;
}

.function_container{
    width: 100%;
    display: inline-block;
    margin-left: 50px;
}

form{
    display: grid;
}

