html{
    background-color:white;
}

header{
    background-color: #00000a;
    color:white;
}

body{
    background-color: white;
}

.container{
    background-color: white;
    max-width: 1920px;
}

.container-1{
    box-sizing: border-box;
    height:98%;
    width: 98%;
    margin: auto;
    overflow: auto;
    display: inline;
}

.container-2{
    display: flex;
    margin-left: 0px;
    width: auto;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

tr:hover{
    background-color: grey;
}

table{
    overflow: auto;
    width: 1000px;
    height: 850px;
}

.ctr_list{
    width: auto;
}

.ctr_describ{
    width: 350px;
}

.ctr_name{
    width: 100px;
}

.ctr_index{
    width: 50px;
}

.name{
    width: auto;
}

.type{
    width: auto;
}

.message_body{
    width: 500px;
    height:auto;
    margin-left: 200px;
}

.function_container{
    width: 100%;
    display: inline-block;
    margin-left: 50px;
}

.controllers{
    overflow: scroll;
    height: 800px;
    width: 800px;
    display: grid;
}

.selected{
    background-color: #8fbcff;
}

